
<div class="container-fluid">
    
    <div class="form">
        <div class="tape">
            <h3 >Task Manager 2.0</h3>
        </div>
        <div class="tape">
            <p>Чтобы начать использование, авторизируйтесь</p><span></span>
        </div>
        
        <div class="link">
            <a href="{{getHref()}}"><img src="../../assets/images/vk.svg" alt=""></a>
            <a href="{{getHref()}}"><img src="./../assets/images/google.svg" alt=""></a>
            <a href="{{getHref()}}"><img src="./../assets/images/yandex.svg" alt=""></a>
        </div>
        
    </div>
</div>