<form>
    <div class="form-group">
        <label>Назначено:</label>
        <prog-select [errors]="false" [items]="users" ></prog-select>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Статус:</label>
            <prog-select [errors]="false" [search]="false" [items]="statuses" [out]="'Name'"></prog-select>
        </div>
        <div class="col-md-6">
            <label>Приоритет:</label>
            <prog-select [errors]="false" [search]="false" [items]="priorities" [out]="'Name'"></prog-select>
        </div>
    </div>
    <h4>Часы выполнения:</h4>
    <div class="row">
        <div class="col-md-6">
            <label>Оценка:</label>
            <input class="form-control" type="number">
        </div>
        <div class="col-md-6">
            <label>Завершенная работа:</label>
            <input class="form-control" type="number">
        </div>
    </div>
</form>
