@import '../../colors.less';
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    .menu{
        .item{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .user{
        display: flex;
        align-items: center;
        img{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 5px;
        }
        p{
            margin: 0;
            font-size: 18px;
        }
    }
}

.menu{
    display: flex;
    .item{
        margin-right: 10px;
        color: @blue;
        cursor: pointer;
        
        &.active, &:hover{
            text-decoration: underline;
        }
    }
}