@blue: rgb(45, 59, 136);
@proposed: rgb(0, 153, 204);
@active: rgb(255, 204, 0);
@resolved: rgb(0, 204, 153);
@testing: rgb(0, 102, 104);
@closed: rgb(51, 204, 51);
@bug: rgb(255, 51, 51);
@requirement: rgb(153, 0, 255);
@critical: rgb(204, 0, 0);