/* You can add global styles to this file, and also import other style files */
@import './colors.less';
*{
    box-sizing: border-box;
    outline: none !important;
}

.btn{
    &:focus{
        box-shadow: none;
    }
}
.status-proposed,
.status-active,
.status-frozen,
.status-resolved,
.status-testing,
.status-closed,
.task-bug,
.task-requirement,
.priority-critical{
    border-radius: 3px;
    padding: 0 5px;
    padding-bottom: 1px;
    font-size: 14px;
}
.status-proposed{
    color: white;
    background-color: @proposed;
    
}

.status-active{
    color: rgb(0, 0, 0);
    background-color: @active;
}

.status-frozen{
    color: rgb(255, 255, 255);
    background-color: @frozen;
}

.status-resolved{
    color: white;
    background-color: @resolved;
}

.status-testing{
    color: white;
    background-color: @testing;
}

.status-closed{
    color: white;
    background-color: @closed;
}

.task-bug{
    color: white;
    background-color: @bug;
}

.task-requirement{
    color: white;
    background-color: @requirement;
}

.priority-critical{
    color: white;
    background-color: @critical;
}

input{
    &.form-control:focus{
        border: 1px solid #ced4da;
        box-shadow: none;
    }
    &.ng-invalid{
        border-color: #dc3545;
    }
}